<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Active Projects</h6>
                    <h2 class="text-right">
                        <i class="fa fa-cart-plus f-left m-2"></i>
                        <span>486</span>
                    </h2>
                    <p class="m-b-0">Completed Projects<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Active Employees </h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left m-2"></i><span>486</span></h2>
                    <p class="m-b-0">Best Employees Count<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Active Clients</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left m-2"></i><span>486</span></h2>
                    <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Company Average Rating</h6>
                    <h2 class="text-right">
                        <i class="bi bi-star-fill me-2"></i>
                        <i class="bi bi-star-fill me-2"></i>
                        <i class="bi bi-star-fill me-2"></i>
                        <i class="bi bi-star-fill me-2"></i>
                        <i class="bi bi-star-half"></i>
                    </h2>
                    <p class="m-b-0">Total Reviews Count<span class="f-right">351</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <div class="container mt-3 ">
                <h4 class="text-center mb-3">
                    UPCOMMING EVENTS LIST
                </h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="me-5 badge badge-pill bg-mysecondary">Holiday</span> Thanksgiving Day - November
                        24, 2023
                    </li>
                    <li class="list-group-item">
                        <span class="me-5 badge badge-pill bg-warning">Birthday</span> Akshaya - November 25, 2023
                    </li>
                    <li class="list-group-item">
                        <span class="me-5 badge badge-pill bg-warning">Birthday</span> Maanvi - December 12, 2023
                    </li>
                    <li class="list-group-item">
                        <span class="me-5 badge badge-pill bg-mysecondary">Holiday</span> Christmas Day - December 25,
                        2023
                    </li>
                    <li class="list-group-item">
                        <span class="me-5 badge badge-pill bg-mysecondary">Holiday</span> New Year's Day - January 1,
                        2024
                    </li>
                    <li class="list-group-item">
                        <span class="me-5 badge badge-pill bg-warning">Birthday</span> Vishnu - January 10, 2024
                    </li>
                    <li class="list-group-item">
                        <span class="me-5 badge badge-pill bg-danger">Aniversary</span>
                        Company 5th Aniversary -30 January , 2024
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-5">
            <div class="container">
                <h5 class="text-center">EMPLOYEES OF MONTH</h5>
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item">
                        Maanvi
                        <i class="bi bi-star-fill mx-1  fc-myprimary float-end"></i>
                    </li>
                    <li class="list-group-item">Namitha
                        <i class="bi bi-star-fill mx-1 float-end  fc-myprimary "></i>
                        <i class="bi bi-star-fill mx-1 float-end  fc-myprimary "></i>

                    </li>
                    <li class="list-group-item">Ruchitha
                        <i class="bi bi-star-fill mx-1 float-end  fc-myprimary "></i>
                        <i class="bi bi-star-fill mx-1 float-end  fc-myprimary "></i>
                        <i class="bi bi-star-fill mx-1 float-end  fc-myprimary "></i>


                    </li>
                </ol>
            </div>
            <div class="container mt-5">
                <div class="text-center">
                    <img src="https://static.vecteezy.com/system/resources/thumbnails/000/365/135/small/climbing-goals.png" class="rounded" alt="vector image">
                  </div>
            </div>
        </div>
    </div>
</div>